<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.video"
    android:versionCode="18"
    android:versionName="1.1.8" >

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19"/>
    
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>  
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".service.MainApplication"
        android:icon="@drawable/video_logo"
        android:label="@string/app_name"
        android:allowBackup="true" >
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 该软件的后台服务 -->
        <service android:name=".service.BackstageService" />
        <!-- 实时 -->
        <activity
            android:name=".main.OwnFragment"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <!-- 历史 -->
        <activity
            android:name=".main.LocalFragment"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <!-- 消息 -->
        <activity
            android:name=".main.MsgFragment"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <!-- 更多 -->
        <activity
            android:name=".main.MoreFragment"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <!-- 注册 -->
        <activity
            android:name=".user.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <!-- 登录 -->
        <activity
            android:name=".user.LoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <!-- 找回密码 -->
        <activity
            android:name=".user.FindPwdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <!-- 修改密码 -->
        <activity
            android:name=".user.ModifyPwdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <!-- 功能设置 -->
        <activity
            android:name=".main.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <!-- 设备管理 -->
        <activity
            android:name=".main.DeviceManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <!-- 帮助 -->
        <activity
            android:name=".main.HelpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <!-- 关于 -->
        <activity
            android:name=".main.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <!-- 操作设备 -->
        <activity
            android:name=".main.DeviceOperationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <!-- 终端WiFi配置 -->
        <activity
            android:name=".main.WiFiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <!-- 添加设备 -->
        <activity
            android:name=".main.AddDeviceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <!-- 扫描二维码 -->
        <activity
            android:name="com.qrcode.view.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullscreen" >
        </activity>
        <!-- 显示本地图片 -->
        <activity
            android:name=".local.ViewLocalImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <!-- 设置背景图片 -->
        <activity
            android:name=".main.SetDeviceBgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <!-- 显示报警消息图片 -->
        <activity
            android:name=".main.AlarmImageViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <!-- 修改终端名称 -->
        <activity
            android:name=".main.ModifyDeviceNameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <!-- 视频播放 -->
        <activity
            android:name=".play.PlayerActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/VideoPlayTheme" >
        </activity>
        <!-- 添加设备分享 -->
        <activity
            android:name=".main.AddShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>
        <!-- 我的分享 -->
        <activity
            android:name=".main.SharedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <!-- 本地播放器 -->
        <activity
            android:name=".local.player.LocalPlayerActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <!-- 请求终端录像  -->
        <activity
            android:name=".main.SetDateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <!-- 终端录像文件列表  -->
        <activity
            android:name=".main.TerminalVideoListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <!-- 远程录像播放器  -->
        <activity
            android:name=".play.RemoteFilePlayerActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeFullscreen" >
        </activity>
    </application>

</manifest>