1 TYPELIB "KeCameraPlugin.rc"

1 VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "CompanyName", "Kaer\0"
            VALUE "FileDescription", "camera plugin\0"
	    VALUE "FileExtents", "kcp\0"
	    VALUE "FileOpenName", "Nothing (*.kcp)\0"
            VALUE "FileVersion", "1, 0, 0, 1\0"
            VALUE "InternalName", "CameraPlugin"
            VALUE "LegalCopyright", "Copyright (C) 2013 Kaer.\0"
            VALUE "MIMEType", "application/camera-plugin\0"
            VALUE "OriginalFilename", "KeCameraPlugin.dll\0"
            VALUE "ProductName", "kaer camera plugin\0"
            VALUE "ProductVersion", "1, 0, 0, 1\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
